.container {
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-item {
    height: 80%;
    width: 20%;
    border: thin solid black;
    border-radius: 10px;
    padding: 2em;
    margin: .5em;
    box-sizing: border-box;

}

.item-heading {
    margin-bottom: 2em;
    font-size: 2rem;
    border-bottom: thin solid black;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 1px;
}

.list-Item {

    font-size: 1.5rem;
}

input {
    width: 30%;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-left: 2em;
    margin-bottom: .5em;

}